* {
  margin: 0;
  padding: 0;
}

.all {
  width: 100%;
  height: 60px;
  background-color: rgb(37, 43, 66);
}
.all .all1 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.all .all2 {
  display: flex;
  gap: 30px;
}
.all .all3 {
  display: flex;
  gap: 50px;
  align-items: center;
}
.all .all3 button {
  padding: 10px 20px;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: rgb(35, 166, 240);
  border-radius: 7px;
  color: white;
}
.all .all4 {
  display: none;
}
.all .all5 {
  display: none;
}

.zll {
  width: 100%;
  height: 650px;
  background-color: rgb(37, 43, 66);
  color: white;
}
.zll .zll1 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zll .zll2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: sans-serif;
}
.zll .zll2 h1 {
  font-size: 60px;
}
.zll .zll2 button {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: rgb(37, 43, 66);
  color: white;
  border: 2px solid white;
}
.zll .zll2 button:hover {
  background-color: rgb(35, 166, 240);
  border: none;
}
.xll {
  width: 100%;
  height: 650px;
  background-color: rgb(37, 43, 66);
  color: white;
}
.xll .xll1 {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.xll .xll1 h1 {
  font-size: 46px;
  font-family: sans-serif;
}
.xll .xll1 p {
  line-height: 22px;
  color: gray;
  font-size: 19px;
  font-family: sans-serif;
}
.xll .xll2 {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.xll .xll3 {
  width: 380px;
  height: 150px;
  border: 2px solid white;
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: start;
  justify-content: center;
  font-family: sans-serif;
}
.xll .xll4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}
.xll .xll4 p {
  color: white;
}

.sll {
  width: 100%;
  height: 650px;
  background-color: rgb(37, 43, 66);
  color: white;
  padding-top: 30px;
}
.sll .sll1 {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sll .sll1 h1 {
  font-size: 46px;
  font-family: sans-serif;
}
.sll .sll1 p {
  line-height: 22px;
  color: white;
  font-size: 19px;
  font-family: sans-serif;
}
.sll .sll2 {
  width: 78%;
  height: 280px;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  margin-top: 50px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 50px 0px;
}
.sll .sll2 p {
  color: rgba(0, 0, 0, 0.488);
}
.sll .sll2 h3 {
  font-family: sans-serif;
}

.tll {
  width: 100%;
  height: 350px;
  background-color: rgb(37, 43, 66);
  color: white;
  padding-top: 30px;
}
.tll .tll1 {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tll .tll1 h1 {
  font-size: 46px;
  font-family: sans-serif;
}
.tll .tll1 p {
  line-height: 22px;
  color: white;
  font-size: 19px;
  font-family: sans-serif;
}
.tll .tll2 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.tll .tll3 {
  width: 210px;
  height: 100px;
  border: 2px solid rgb(162, 160, 160);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 30px;
}

.hll {
  width: 100%;
  height: 420px;
  background-color: rgb(37, 43, 66);
  color: white;
  padding-top: 30px;
}
.hll .hll1 {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hll .hll1 h1 {
  font-size: 46px;
  font-family: sans-serif;
}
.hll .hll1 p {
  line-height: 22px;
  color: white;
  font-size: 19px;
  font-family: sans-serif;
}
.hll .hll2 {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.hll .hll3 {
  width: 46%;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  color: black;
  padding: 30px;
}
.hll .hll3 p {
  color: rgb(124, 123, 123);
  text-align: start;
}
.hll .hll3 h3 {
  color: rgb(35, 166, 240);
  text-align: start;
  font-size: 25px;
  padding-top: 10px;
}
.hll .hll5 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.hll .hll4 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hll .hll5 button {
  padding: 20px 40px;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: rgb(35, 166, 240);
  border-radius: 7px;
  color: white;
}

.bll {
  width: 100%;
  height: 300px;
  background-color: rgb(37, 43, 66);
  color: white;
  padding-top: 100px;
}
.bll .bll1 {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.bll .bll2 {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bll .bll2 h1 {
  font-size: 46px;
}
.bll .bll2 p {
  font-size: 18px;
  line-height: 23px;
}

.vll {
  width: 100%;
  height: 320px;
  background-color: rgb(37, 43, 66);
  color: white;
  margin-top: 50px;
}
.vll .vll1 {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 70px 0px;
}
.vll .vll2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.vll .vll4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.vll .vll5 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pll {
  width: 100%;
  height: 30px;
  color: rgba(0, 0, 0, 0.518);
  margin-top: 50px;
}
.pll .pll1 {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

@media (max-width: 610px) {
  .all {
    height: auto;
  }
  .all .all2 {
    display: none;
  }
  .all .all3 {
    display: none;
  }
  .all .all4 {
    display: block;
    display: flex;
    gap: 10px;
  }
  .all .all5 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    color: white;
    text-align: center;
  }
  .zll {
    width: 100%;
    height: auto;
  }
  .zll .zll1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .zll .zll2 {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .zll .zll3 img {
    margin-top: 40px;
    width: 90%;
  }
  .xll {
    height: auto;
    padding-top: 50px;
  }
  .xll3 {
    border: 2px solid rgb(37, 43, 66);
    width: 90%;
  }
  .tll {
    height: auto;
  }
  .tll .tll1 {
    width: 100%;
  }
  .tll .tll2 {
    margin-left: 60px;
  }
  .tll .tll3 {
    background-color: white;
    color: black;
  }
  .tll .img1 {
    background-color: rgb(37, 43, 66);
  }
  .hll {
    height: auto;
  }
  .hll .hll2 {
    display: flex;
    flex-direction: column;
  }
  .hll .hll3 {
    width: 84%;
  }
  .bll {
    height: auto;
  }
  .bll .bll1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .bll .bll2 {
    width: 90%;
    text-align: center;
    margin-left: 20px;
  }
  .vll {
    height: auto;
  }
  .vll .vll1 {
    display: flex;
    flex-direction: column;
  }
  .vll .vll2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
}/*# sourceMappingURL=stylle.css.map */